{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div class="content-title">
<h1 align="center" class="title home-title">Gamer Corner</h1>
<div class="content">
    <p>Welcome to Gamer Corner! Here we share our thoughts about gaming stuff for example:
        <br>
        <br>
        1. Gaming Hardware
        <br>
        2. Gaming Products
        <br>
        3. Games Recommendations
        <br>
        <br>
        Here you can also look at a bunch of trending posts on the website such as new gaming news and tech news!
        <br>
        So what are you waiting for? Enjoy yourselves in this website!
    </p>
    </div>
</div>
{% endblock %}